#boxes {
  height: 400px;
  width: 400px;
  background-color: rgb(8, 8, 8);

  display: flex;


.box--1 {
  height: 100px;
 
  background-color: purple;
  border: 2px dashed white;
  flex: 2;

 
}
.box--2 {
  height: 100px;
 
  background-color: purple;
  border: 2px dashed white;
  flex: 2;
 
}
.box--3 {
  height: 100px;
 
  background-color: rgba(73, 243, 6, 0.555);
  border: 2px dashed white;
  flex: 4;

}

